<br>

<ul *ngIf="filtro!.tipo =='Genre'" class="text-left">
    <li style="list-style: none!important; margin:5px" *ngFor="let genre of genres" (click)="seleccionGenre(genre)">
    <span class="inactive" id="genre{{genre.id}}" role="button">{{genre.nombre}}</span>
    </li>
</ul>

<ul *ngIf="filtro!.tipo =='Artist'"class="text-left">
    <li style="list-style: none!important; margin:5px" *ngFor="let artist of artists" (click)="seleccionArtist(artist)">
    <span class="inactive" id="artist{{artist.id}}" role="button">{{artist.nombre}}</span>
    </li>
</ul>




