/* You can add global styles to this file, and also import other style files */
head, body{
  font-family: 'Montserrat', sans-serif;
}

.text-white{
  font-size: x-large;
  color: #98DEC2!important;
}

.bg-info{
  margin-bottom: 25px ; 
  background-color: black!important;
  padding-bottom: 25px; 
  padding-top: 25px;
}

.col{
  margin-left: 10px;
}

.h3, h3{
  margin-bottom: 25px;
}

button, ::placeholder{
  font-size:20px;
}

.text-right{
  margin-right: 50pxd; 
}










html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
