<!--<ul class="text-left">
    <li *ngFor="let cancion of canciones | filter: textoBusqueda: filtroArtista: filtroGenre: filtroNo" (click)="selecc(cancion)">
        <div><img src="../../assets/cancion/{{cancion.file}}" id="pic" class="rounded float-left" alt="" width="50px" height="50px"></div>
        <div style="margin-left:70px" id="title" role="button">{{cancion.title}}</div>
        <div style="margin-left:70px" id="artist" role="button">{{cancion.artist}}</div>
    </li>
</ul>-->

<div class="section">
  <div class="container">
    <div class="row">
      <div *ngFor="let cancion of canciones | filter: textoBusqueda: filtroArtista: filtroGenre: filtroNo" (click)="selecc(cancion)">
      <div class="col">
        <div class="box">

          <div><img src="../../assets/cancion/{{cancion.file}}" id="pic" class="foto" alt="" width="150px" height="150px"></div>
          <div  id="title" role="button">{{cancion.title}}</div>
         <!-- <div  id="artist" role="button">{{cancion.artist}}</div>-->


        </div>
      </div>
      <div>
    </div>
</div>
