<div class="section">
  <div class="container">
    <div class="row">
      <div *ngFor="let cancion of canciones | filter: textoBusqueda" (click)="selecc(cancion)">
      <div class="col">
        <div class="box">

          <div><img src="../../assets/cancion/{{cancion.file}}" id="pic" class="foto" alt="" width="150px" height="150px"></div>
          <div  id="title" role="button">{{cancion.title}}</div>
          <div  id="artist" role="button">{{cancion.artist}}</div>

        </div>
      </div>
      <div>
    </div>
</div>


