<div class="footer">
  <div class="grid-container p-3">
    <div class="row">
      <div class="col-md-3">
        <img src="../../assets/{{cancion!.file}}" id="photo_album" class="rounded float-left mr-3" alt="photo_album" width="40px" height="40px" *ngIf="cancion!.file">
        <span id="title" class="footer-title d-block text-truncate mb-0"><strong>{{cancion!.title}}</strong></span>
        <span id="artist" class="footer-artist d-block text-muted text-truncate mb-0"><small>{{cancion!.artist}}</small></span>
      </div>
      <div class="col-md-2">
       
        <img role="button" *ngIf="stop"src="assets/icons/play.png" width="50px" height="50px" (click)="onPlay()">
        <img role="button" *ngIf="!stop" src="assets/icons/pause.png" width="50px" height="50px" (click)="onPause()">
        <img role="button" src="assets/icons/stop.png" width="50px" height="50px" (click)="onStop()">
        
      </div>
      <div class="col-md-7">
        <div class="reproductor">
          <div class="timePlayed">
            <input (focus)="onPause()" type="text" placeholder="{{valuePlayedTime}}" name="timePlayed" [(ngModel)]="valuePlayedTime" value="{{toHumanTime(audio.currentTime)}}" (keyup)="changeCurrentTime()">
          </div>
          <!-- -->
          <app-play-song class= "trackLenght" (refreshTimePlayed)="refreshTimePlayed($event)" [valuePlayedTime]="toPercent(toHumanTime(audio.currentTime))" [cancion]="cancion" [audio]="audio"></app-play-song>
          <div class="cancionDuration">{{cancion!.duration}}</div>
        </div>
      </div>
    </div>
  </div>
</div>



