
head, body{
  font-family: 'Helvética', sans-serif;
  background-color: hsl(120, 10%, 80%)!important;
}

.text-white{
  font-size: x-large;
  color: #39ff14!important;
}

.bg-info{
  margin-bottom: 25px ; 
  background-color: black!important;
  padding-bottom: 25px; 
  padding-top: 25px;
}

.col{
  margin-left: 10px;
}

.h3, h3{
  margin-bottom: 25px;
}

button, ::placeholder{
  font-size:20px;
}

.text-right{
  margin-right: 50pxd; 
}










html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
